<h1>Hi! I'm Taka</h1>

<h2>このサイトでは、僕のプロフィールを紹介します！</h2>
<div class="index-item">
    <a href="/about">Who is Taka?</a>
</div>
<div class="index-item">
    <a href="/index">過去のコメントはこちら</a>
</div>
<div class="index-item">
    <a href="/blog">ブログはこちら</a>
</div>