<div>
    <% @posts.each do |post| %>
        <div class="posts-index-item">
            <div class="index-item">
                <%= link_to(post.content,"/posts/#{post.id}") %>
            </div>
            <div>
            <%= button_to "削除", "/posts/#{post.id}", method: :delete %>
            </div>
        </div>
    <% end %>
    <%= form_tag("/posts/create") do %>
        <textarea name="content"></textarea>
        <input type="submit" value="コメントを投稿">
    <% end %>
    <a href="/">トップに戻る</a>
</div>